$blue:#0F3460;
$bg-white:#F6F6F6;
$red:#E94560;
$bluelight:#2B3445;
$yellow:#FFCE50;
$silver:#7D879C;
$white:#E0E0E0;
$black:#434343;
$white:#fff;
$card_bg_hero: #e4e4e4;
$shop_now_btn:#D9D9D9;
$adcard1: #f1f1f1;
$adcard2: #2d2c34;
$adcard3: #c4c2c542;
$blackish:#2b3445;
$banner_1: #ebebeb;
$discount:#969696;
$rating_green:#8FC137;
$rating_silver:#7D879C